.urlTwisterComponent {
    text-align: center;
    margin-top: 6.5rem;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    min-height: 33rem;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center; 
    gap: 0.3rem; 
  }
  
  .description p {
    font-size: 1.1rem;
    color: #333;
    margin-bottom: 0.2rem;
  }
  
  .urlInput {
    width: 100%;
    max-width: 30rem;
    min-height: 3rem;
    height: 3rem;
    resize: none;
    margin-bottom: 0.5rem;
  }
  
  .urlInput:focus {
    border-color: #888;
  }

  .textBox {
    width: 100%;
    height: auto;
    min-height: 20rem;
    max-width: 30rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: none;
    line-height: 2;
    white-space: pre;
  }