.crashCharSequenceGenerator {
  text-align: center;
  margin-top: 8rem;
  min-height: 33rem;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center; 
  gap: 0.5rem; 
}

.description p {
  font-size: 1.1rem;
  color: #333;
  margin-bottom: 20px;
}

.controlsGrid {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.controlItem {
  display: flex;
  flex-direction: row;
  justify-content: left;
}

.controlLabel {
  text-align: left;
  height: 1.4rem;
  width: 8rem;
}

.controlInput {
  height: 1.4rem;
  width: 9rem;
}

.outputContainer {
  display: flex;
  align-items: center;
  margin: 0.5rem;
  flex-direction: row;
}

.textBox {
  height: 3rem;
  min-height: auto;
  max-width: 11rem;
  min-width: 9rem;
  resize: none;
  margin-left: auto;
}
