.dialogWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5em;
  position: relative;
  min-width: 12rem;
}

.inputField {
  width: 100%;
  max-width: 160px;
  font-size: 1.3em;
  font-weight: 600;
  text-align: center;
  border: none
}

.inputField:focus {
  outline: none;
}

.indexText {
  font-size: 0.9em;
  color: #666;
  padding-left: 0.5rem;
}

.charDisplay {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.4em;
  width: 2.8em;
  height: 2.8em;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
  user-select: text;
  font-family: inherit;
  margin-bottom: clamp(3em, 30vw, 4em);
  position: relative;
}

.overlayChar {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  color: #333;
}

.overlayHex {
  margin-left: 0.4em;
  font-weight: 600;
  color: #555;
}

.charInfoTableWrapper {
  position: absolute;
  top: 10em;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  z-index: 2;
  background: white;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.charInfoTable {
  width: 100%;
  border-radius: 6px;
  border-collapse: separate;
  border-spacing: 0;
  font-size: clamp(0.6em, 2.5vw, 0.8em);
  color: #444;
  border: 1px solid #ddd;
}

.charInfoTable td {
  border: 1px solid #ddd;
  padding: 0.1em 0.5em;
}

.charInfoTitle {
  font-weight: bold;
  text-align: center;
  background-color: #f9f9f9;
  padding: 0.6em;
  font-size: 1.1em;
}

.charInfoTable td:first-child {
  width: 1%;
}

.charInfoTable td:nth-child(2) {
  word-break: break-word;
  overflow-wrap: anywhere;
}

.charInfoTable tr:first-child td:first-child {
  border-top-left-radius: 6px;
}

.charInfoTable tr:first-child td:last-child {
  border-top-right-radius: 6px;
}

.charInfoTable tr:last-child td:first-child {
  border-bottom-left-radius: 6px;
}

.charInfoTable tr:last-child td:last-child {
  border-bottom-right-radius: 6px;
}

.buttonRow {
  display: flex;
  gap: 1.5em;
  justify-content: center;
}

.iconButton {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.4em;
  color: #444;
  transition: color 0.2s;
}

.iconButton:hover {
  color: black;
}

.iconButton:focus {
  outline: none;
  box-shadow: none;
}

.confusableList {
  font-size: 1rem;
}

.confusableButtons {
  display: flex;
  flex-wrap: wrap;
  gap: 0.1rem;
}

.confusableButton {
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: white;
  min-width: 1rem;
  text-align: center;
  user-select: none;
}

.link {
  font-size: 0.9em;
  margin-top: 0.5em;
  text-align: center;
}