.panel {
  margin-bottom: 0.3rem;
  max-width: 20rem;
  border-radius: 1rem;
  background: #ffffff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
  overflow: hidden;
  border: 1px solid #eaeaea;
  min-width: 18.5rem;
  align-self: start;
}

.header {
  width: 100%;
  background: #fafafa;
  border: none;
  padding: 1rem 1.2rem;
  font-weight: 600;
  text-align: left;
  font-size: 1rem;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #333;
}

.content {
  background: #fff;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.icon {
  font-size: 1rem;
  color: #888;
}
