.counterBar {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  padding: 0.5rem 0;
}

.counterBar p {
  margin: 0;
  color: #333;
}

.barButton {
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: color 0.3s;
  padding: 0.8rem 0.7rem 0.8rem 0.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.barButton:hover {
  color: #007bff;
}

.icon {
  font-size: 25px;
  transition: transform 0.2s ease-in-out;
  color: #4a4a4a;
}

.iconCheck {
  color: #4a4a4a;
}

.iconCopy {
  color: #4a4a4a;
}

.barButton:hover .iconCopy {
  color: #007bff;
}

.barButton .iconCheck {
  color: #28a745;
}

.barButton:hover .icon {
  transform: scale(1.1);
}

.iconStack {
  position: relative;
  width: 25px;
  height: 25px;
  display: inline-block;
}

.iconAutoLayer {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 25px;
  color: #4a4a4a;
  transition: transform 0.2s ease-in-out;
  pointer-events: none;
}

.barButton:hover .iconAutoLayer {
  transform: scale(1.1);
  color: #007bff;
}