.sliderRow {
  display: block;
}

.slider {
  flex: 1 1 0;
  min-width: 0;
  margin: 0 4px;
  background: none;
  height: 4px;
  background-color: transparent;
}

/* Remove blue fill - Chrome */
.slider::-webkit-slider-runnable-track {
  background: #ccc; /* neutral color */
  height: 7px;
}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 12px;
  height: 12px;
  background: #333;
  border-radius: 50%;
  margin-top: -4px;
}
.slider::-webkit-slider-thumb:active {
  background: #000;
}

/* Remove blue fill - Firefox */
.slider::-moz-range-track {
  background: #ccc;
  height: 4px;
}
.slider::-moz-range-thumb {
  width: 12px;
  height: 12px;
  background: #333;
  border: none;
  border-radius: 50%;
}

/* Remove blue fill - Edge/IE */
.slider::-ms-track {
  background: transparent;
  border-color: transparent;
  color: transparent;
  height: 7px;
}
.slider::-ms-fill-lower {
  background: #ccc;
}
.slider::-ms-fill-upper {
  background: #ccc;
}
.slider::-ms-thumb {
  width: 12px;
  height: 12px;
  background: #333;
  border: none;
  border-radius: 50%;
}
