.wasThisYourText {
  text-align: center;
  margin-top: 7rem;
  min-height: 33rem;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center; 
  gap: 0.5rem; 
}

.description p {
  font-size: 1.1rem;
  color: #333;
  margin-bottom: 20px;
}

.textBox {
  height: 5rem;
  min-height: auto;
  max-width: 30rem;
  min-width: 9rem;
  resize: none;
}

.resultsTable {
  width: 100%;
  width: 50rem;
  border-collapse: collapse;
  font-family: sans-serif;
  table-layout: auto;
  margin: 2rem 0.1rem 0.1rem 0.1rem;
}

@media (max-width: 767px) {
  .resultsTable {
    width: auto;
  }
}

.resultsTable th,
.resultsTable td {
  padding: 0.5rem;
  border: 1px solid #ddd;
  text-align: left;
  vertical-align: top;
}

.resultsTable th:first-child,
.resultsTable td:first-child {
  white-space: break-word;
  width: 35%;
}

.resultsTable th:last-child,
.resultsTable td:last-child {
  width: 65%;
  word-break: break-word;
}

.resultsTable th {
  background-color: #f5f5f5;
}

