.processedText {
  width: 100%;
  height: auto;
  min-height: 8rem;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: #f5f5f5;
  color: #333;
  white-space: pre-wrap;
  word-wrap: break-word;
  font-family: monospace;
  text-align: left;
}

/* Base style for styled characters */
.styledChar {
  color: black;
  padding: 2px 4px;
  border-radius: 4px;
  margin: 0 2px;
  font-size: 1rem;
  display: inline-block;
  line-height: 1.2em;
  cursor: pointer;
  outline: none;
  text-align: justify;
  min-width: 0.5em;
  border-left: 0.5px solid rgba(255, 180, 190, 0.1);
  border-right: 0.5px solid rgba(255, 180, 190, 0.1);
}
.styledChar:hover {
  opacity: 0.8;
}

.invisibleChar, .tagChar {
  background-color: rgba(255, 180, 190, 0.5);
}

.wordBreakChar {
  background-color: rgba(173, 216, 230, 0.3);
}

.noBreakChar {
  background-color: rgba(144, 238, 144, 0.2);
}

.visibleChar {
  padding: 0;
  border-radius: 0;
  margin: 0;
}

.editableChar {
  background-color: rgba(150, 150, 150, 0.2);
  cursor: text;
  outline: auto;
}
.editableChar:hover {
  opacity: initial;
}
