.App {
  text-align: center;
}

html {
  --imp-text-color: #414141;
}

/* --------- */
/*Scrollbar   */
/* --------- */

::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #2d1950;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(178, 121, 216, 0.959);
  border-radius: 12px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(222, 130, 235, 0.911);
  border-radius: 12px;
}

/* --------- */
/* Navbar Section  */
/* --------- */
.sticky {
  background-color: #212038d8 !important;
  transition: all 0.3s ease-out 0s !important;
  box-shadow: 0px 10px 10px 0px rgba(9, 5, 29, 0.171) !important;
  backdrop-filter: blur(15px) !important;
}

.navbar {
  position: fixed !important;
  transition: all 0.3s ease-out 0s !important;
  padding: 0.2rem 1rem !important;
  font-size: 1.1rem !important;
  background-color: #343e47;
}

.navbar-logo-img {
  width: 5em;
}

.navbar-toggler {
  position: relative !important;
  background-color: transparent !important;
  border-color: transparent !important;
}

.navbar-toggler span {
  display: block !important;
  background-color: #ffffff !important;
  height: 4px !important;
  width: 27px !important;
  margin-top: 5px !important;
  margin-bottom: 5px !important;
  transform: rotate(0deg) !important;
  left: 0 !important;
  opacity: 1 !important;
}

.navbar-toggler:focus,
.navbar-toggler:active {
  outline: 0 !important;
}

.navbar-toggler span:nth-child(1),
.navbar-toggler span:nth-child(3) {
  transition: transform 0.35s ease-in-out !important;
  transition: transform 0.35s ease-in-out !important;
}

.navbar-toggler:not(.collapsed) span:nth-child(1) {
  position: absolute !important;
  left: 12px !important;
  top: 10px !important;
  transform: rotate(135deg) !important;
  opacity: 0.9 !important;
}

.navbar-toggler:not(.collapsed) span:nth-child(2) {
  height: 12px !important;
  visibility: hidden !important;
  background-color: transparent !important;
}

.navbar-toggler:not(.collapsed) span:nth-child(3) {
  position: absolute !important;
  left: 12px !important;
  top: 10px !important;
  transform: rotate(-135deg) !important;
  opacity: 0.9 !important;
}

@media (max-width: 48rem) {
  .navbar {
    font-size: 1.4rem !important;
    background-color: #343e47 !important;
    padding-bottom: 1rem;
  }

  .navbar-nav .nav-item a::after {
    display: none !important;
  }
}

.navbar-nav .nav-link {
  color: white !important;
  padding-right: 1rem !important;
  padding-left: 1rem !important;
}

.nav-link {
  padding: 0.7rem 0.8rem !important;
}

.navbar-nav .nav-item {
  position: relative;
  margin-left: 20px;
}

.navbar-nav .nav-item a {
  font-weight: 400;
  transition: all 0.3s ease-out 0s;
  position: relative;
  z-index: 1;
}

.navbar-nav .nav-item a {
  position: relative;
  transition: box-shadow 0.3s ease-in-out;
}

.navbar-nav .nav-item a:hover {
  box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.8);
  border-radius: 5px;
}

/* ------------- */
/* About section */
/* ------------- */
.wave {
  animation-name: wave-animation;
  /* Refers to the name of your @keyframes element below */
  animation-duration: 2.1s;
  /* Change to speed up or slow down */
  animation-iteration-count: infinite;
  /* Never stop waving :) */
  transform-origin: 70% 70%;
  /* Pivot around the bottom-left palm */
  display: inline-block;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }

  10% {
    transform: rotate(14deg);
  }

  /* The following five values can be played with to make the waving more or less extreme */
  20% {
    transform: rotate(-8deg);
  }

  30% {
    transform: rotate(14deg);
  }

  40% {
    transform: rotate(-4deg);
  }

  50% {
    transform: rotate(10deg);
  }

  60% {
    transform: rotate(0deg);
  }

  /* Reset for the last half to pause */
  100% {
    transform: rotate(0deg);
  }
}

.about-header {
  padding-top: 2rem !important;
}

.about-section {
  position: relative;
  /* ensure this section sits above the page background so links are clickable */
  z-index: 0;
  background-position: top center;
  background-repeat: no-repeat;
  padding-bottom: 30px !important;
  padding-top: 30px !important;
}

.about-content {
  padding: 3rem 0 0rem !important;
  color: #414141;
  text-align: left;
}

.heading-description {
  margin-left: 22px !important;
}

.heading {
  font-size: 2.4em !important;
  padding-left: 20px !important;
}

.heading-name {
  font-size: 2.5em !important;
  padding-left: 20px !important;
}

.about-social {
  text-align: center !important;
  padding-top: 25px;
  color: #414141 !important;
}

.about-social-links {
  justify-content: center !important;
  display: inline-flex !important;
  position: relative !important;
  padding-inline-start: 0 !important;
}

.about-social-icons {
  position: relative !important;
  display: inline-block !important;
  width: 60px !important;
  height: 60px !important;
  text-align: center !important;
  font-size: 1.1em !important;
  line-height: 2em !important;
  background: #343e47 !important;
  border-radius: 50% !important;
  transition: 0.5s !important;
  border: 1px solid #343e47;
}

.about-social-icons::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: #5b585c;
  transition: 0.5s;
  transform: scale(0.9);
  z-index: -1;
}

.about-social-icons:hover::before {
  transform: scale(1.1);
  box-shadow: 0 0 15px #414141;
}

.about-social-icons:hover {
  color: #414141;
  box-shadow: 0 0 5px #414141;
  text-shadow: 0 0 2px #414141;
}

.social-icons {
  display: inline-block !important;
  padding-left: 15px;
  height: 60px;
}

.icon-colour {
  color: #ffffff !important;
}

.social-icon {
  margin-top: 16px;
}


.download-button {
  width: 16rem;
  background-color: #343e47 !important;
  margin-top: 1rem;
  margin-bottom: 2.5rem;
  margin-left: 1rem;

}

.download-button:hover {
  background-color: #000000 !important;
}

.profile-pic {
  border-radius: 50%;
  max-width: 300px;
  max-height: 300px;
  margin-top: 5rem;
  margin-left: 4rem;
}

@media (max-width: 48rem) {
  .profile-pic {
    border-radius: 50%;
    height: 80%;
    width: 50%;
    margin-top: 12%;
    margin-left: 25%;
  }
}

/* --------- */
/* toolsets */
/* --------- */
.toolset-section {
  position: relative !important;
  padding-top: 110px !important;
  padding-bottom: 30px !important;
  background-image: var(--section-background-color) !important;
}

.toolset-card {
  padding: 1.2rem !important;
  height: auto !important;
}

.toolset-card-view {
  box-shadow: 0 4px 5px 3px #343e47 !important;
  color: #414141 !important;
  background-color: transparent !important;
  opacity: 0.9 !important;
  transition: all 0.5s ease 0s !important;
  height: 100% !important;
}

.toolset-card-view:hover {
  transform: scale(1.02) !important;
  overflow: hidden !important;
  box-shadow: 0 4px 4px 5px #343e47 !important;
}

.card-img-top {
  padding: 20px !important;
  opacity: 0.8 !important;
  border-radius: 10px !important;
}

.toolset-heading {
  color: #414141 !important;
  font-size: 2.3em !important;
  font-weight: 500 !important;
  padding-top: 10px !important;
  padding-bottom: 15px;
}

/* --------- */
/* Footer */
/* --------- */
.footer {
  background-color: #343e47;
  bottom: 0 !important;
}

.footer-copywright {
  text-align: center !important;
  margin-top: 20px;
}

.footer-body {
  text-align: center !important;
}

@media (max-width: 48rem) {
  .footer-copywright {
    text-align: center !important;
  }

  .footer-body {
    text-align: center !important;
  }
}

.footer h3 {
  font-size: 1em;
  color: white !important;
  margin-top: 1.3em !important;
  margin-bottom: 0.5em !important;
}

.footer-icons {
  margin-top: 0.5em !important;
  margin-bottom: 0.5em !important;
  padding: 0 !important;
}

.blockquote-footer {
  color: #414141 !important;
  font-weight: bold;
}
